@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home Page";
    var givenName = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname")?.Value;
    var surname = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname")?.Value;
    var fullName = ((givenName ?? "") + " " + (surname ?? "")).Trim();
    var nameClaim = User.Claims.FirstOrDefault(c => c.Type == "name")?.Value;
    var emailClaim = User.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")?.Value;
    var displayName = !string.IsNullOrWhiteSpace(fullName) ? fullName
                    : !string.IsNullOrWhiteSpace(nameClaim) ? nameClaim
                    : emailClaim ?? User.Identity.Name;
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">OKTA Auth0 SSO</h1>

    <div class="text-center">
        <div class="text-center">
            @if (!User.Identity.IsAuthenticated)
            {
                <div>
                    <h1 class="display-4">You are not logged in</h1>
                    <h1 class="display-4">Welcome, @User.Identity.Name!</h1>
                    <h3 class="display-4">Click On the "Login" Button to Signup / Register</h3>
                </div>
            }
            else
            {
                <div>
                    <h1 class="display-4">You are logged in</h1>
                    <h1>Welcome, @User.Identity.Name!</h1>
                    <h3>Click On the "View Profile" Button to Access User Profile</h3>
                </div>
            }
        </div>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

