﻿@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">OKTA AuthO SSO</h1>

    <div class="text-center">
        <div class="text-center">
            if(User.Identity.IsAuthenticated)
            {
            <div>
                <h1 class="display-4">You are logged in</h1>
                <h1>Welcome, @User.Identity.Name!</h1>
            </div>
            }
        </div>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
