@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.ConsentGiven != null)
{
    if (ViewBag.ConsentGiven == true)
    {
        <div class="alert alert-success">User agreed to the Privacy Policies.</div>
    }
    else
    {
        <div class="alert alert-warning">User not agreed to the Privacy Policies.</div>
    }
}

<p>Use this page to detail your site's privacy policy.</p>
